#017

In [ ]:
import math
math.gcd(60, 100, 80)
60/20, 100/20, 80/20

#018

In [ ]:
import math
math.lcm(15, 25)

#019

In [ ]:
import math
math.isclose(0.1*3, 0.3)

In [ ]:
from decimal import Decimal
Decimal('0.1') * 3
Decimal('1.2') - Decimal('0.1')
Decimal('0.1') * Decimal('0.1')

In [ ]:
float(Decimal('1.2') - Decimal('0.1')) == 1.1

#020

In [ ]:
from fractions import Fraction

In [ ]:
a = Fraction('1/5')
a

In [ ]:
a.numerator

In [ ]:
a.denominator

In [ ]:
result = Fraction(1, 5)+Fraction(2, 5)
result

#021

In [ ]:
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)  
    if num not in result:  
        result.append(num)

print(result)

#022

In [ ]:
import statistics
marks = [78, 93, 99, 95, 51, 71, 52, 43, 81, 78]
statistics.mean(marks)

In [ ]:
statistics.median(marks)

#023

In [ ]:
import itertools
emp_pool = itertools.cycle(['김은경', '이명자', '이성진'])

In [ ]:
next(emp_pool)

#024

In [ ]:
import itertools

monthly_income = [1161, 1814, 1270, 2256, 1413, 1842, 2221, 2207, 2450, 2823, 2540, 2134]
result = list(itertools.accumulate(monthly_income))

print(result)