#009 리스트 안에 튜플 이름 붙이기

In [ ]:
data = [
    ('홍길동', 23, '01099990001'), 
    ('김철수', 31, '01099991002'), 
    ('이영희', 29, '01099992003'),
]

In [ ]:
from collections import namedtuple

Employee = namedtuple('Employee','name,age,cellphone')

In [ ]:
data = [Employee(emp[0],emp[1],emp[2])for emp in data] # emp에 앞 원소를 데이터로 넣고 싶다.

In [ ]:
[i*100 for i in[1,2,3]] # 리스트 내포 1 2 3 을 돌면서 i 를 빼오고 이것을 원소로 사용하겠다.

In [ ]:
data2 = [Employee._make(emp) for emp in data]
data2

In [ ]:
emp = data[0]

In [ ]:
emp.name

In [ ]:
emp.age

In [ ]:
emp.cellphone

In [ ]:
emp[0]

In [ ]:
emp[1]

In [ ]:
emp[2]

In [ ]:
emp._asdict() # 딕셔너리 형태로 만들기

In [ ]:
data[0] = emp._replace(name = '안지호')

In [ ]:
data

#010 사용한 단어의 개수를 구하려면? 계수기

In [ ]:
data = """
산에는 꽃 피네.
꽃이 피네.
갈 봄 여름없이
꽃이 피네.

산에
산에
피는 꽃은
저만치 혼자서 피어있네.

산에서 우는 새여
꽃이 좋아
산에서
사노라네.

산에는 꽃지네
꽃이 지네.
갈 봄 여름 없이
꽃이 지네.
"""

In [ ]:
from collections import Counter
import re

words = re.findall('\w+',data) # [a-zA-Z0~9_] 와 같은 의미  단어 단위 파씽 한글자로 된 단어를 찾고 싶다면 +를 지우고 {1}\s을 하면 된다.
words

In [ ]:
counter = Counter(words)
counter

In [ ]:
counter.most_common(3) # 가장 많이 나온 단어 출력

# 011 딕셔너리 한번에 초기화 하기

In [ ]:
text = 'Life is too short, You need python'

In [ ]:
letters = re.findall('[a-zA-Z,.]{1}',text)
letters

In [ ]:
counter = Counter(letters)

In [ ]:
text = 'Life is too short, You need python'

d = dict()
for key in text:
  if key not in d: # 해당 키가 딕셔너리에 없다면
    d[key] = 0
  d[key] = d[key] +1

d

In [ ]:
from collections import defaultdict

text = "Life is too short, You need python."

d = defaultdict(int) # 0으로 바로 초기화 해준다. 또한 디폴트 딕셔너리 이기 때문에 결과값을 출력해주는 경우 형변환을 해줘야 하는 특징이 있다.
for key in text:
    d[key] += 1

print(dict(d)) # 딕셔너리로 다시 형변환을 거쳐야 한다.

#012 수상자 3명을 선정하려면?

In [ ]:
data = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

In [ ]:
import heapq
h =[]
for score in data:
  heapq.heappush(h,score)

h # 제일 작은값이 위로 오게 정렬

In [ ]:
heapq.heappop(h)

In [ ]:
heapq.heappop(h)

In [ ]:
heapq.heappop(h)

In [ ]:
h

In [ ]:
for i in range(3):
  print(heapq.heappop(h))

In [ ]:
import heapq

data = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

heapq.heapify(data)  # data를 힙 구조에 맞게 변경. 트리

for i in range(3):
    print(heapq.heappop(data))

In [ ]:
import heapq

data = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

print(heapq.nsmallest(3, data))

#013 데이터를 보기 좋게 출력하려면?

In [ ]:
import pprint

In [ ]:
result = {'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}

pprint.pprint(result)

#014 점수에 따른 학점을 구하려면?
- 이진 탐색 알고리즘을 구현한 모듈

In [ ]:
import bisect

result = []
for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect_left([60, 70, 80, 90], score) 
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

In [ ]:
import bisect
a = [60, 70, 80, 90]
bisect.insort(a, 85)
a

#015 숫자에 이름을 붙여 사용하려면?

In [ ]:
from datetime import date
from enum import IntEnum


class Week(IntEnum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7


def get_menu(input_date):
    menu = {
        Week.MONDAY: "김치찌개",
        Week.TUESDAY: "비빔밥",
        Week.WEDNESDAY: "된장찌개",
        Week.THURSDAY: "불고기",
        Week.FRIDAY: "갈비탕",
        Week.SATURDAY: "라면",
        Week.SUNDAY: "건빵",
    }
    return menu[input_date.isoweekday()]


print(get_menu(date.today()))

In [ ]:
for week in Week:
    print("{}:{}".format(week.name, week.value))

#016

In [ ]:
from graphlib import TopologicalSorter # 위상정렬 import

ts = TopologicalSorter()

# 규칙1
ts.add('중급', '초급')  # 후 선 양식
ts.add('고급', '중급')  

# 규칙2
ts.add('문법', '중급')  
ts.add('고급', '문법')  

# 규칙3
ts.add('회화', '문법')  

# 단 여기에 사이클이 돌지 않도록 하는 것이 중요하다.

print(list(ts.static_order()))